@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ralewey', sans-serif;
}

main {
  color: #fefefe;
}

.bg_gradiente {
  height: 50vh;
  background: -moz-linear-gradient(
    45deg,
    rgba(207, 175, 255) 4%,
    rgba(223, 193, 255) 52%,
    rgba(184, 84, 255) 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    rgba(207, 175, 255) 4%,
    rgba(223, 193, 255) 52%,
    rgba(184, 84, 255) 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    rgb(207, 175, 255) 4%,
    rgb(223, 193, 255) 52%,
    rgb(184, 84, 255) 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bg_gradiente h1 {
  font-weight: 100;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1.5px;
  margin: 1rem 0 4rem 0;
}

.bg_gradiente h1::before {
  content: '';
  display: block;
  height: 1.5px;
  width: 65%;
  text-align: start;
  background-color: #fefefe;
  margin: 0 0 1rem 3.5rem;
}

.bg_gradiente img {
  width: 25px;
  height: 25px;
}

main header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.8rem 0 0.8rem;
}

main header i {
  margin-top: 0.5rem;
}

.data_hora {
  font-weight: 100;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#valor_a_converter {
  all: unset;
  width: 10rem;
  height: 5rem;
  font-size: 58px;
  font-family: inherit;
  color: #fefefe;
  font-weight: 100;
  background: transparent;
  border-bottom: 3px solid #fefefe;
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
  appearance: textfield;
}

footer {
  text-align: center;
}

.setas {
  display: inline;
  /* width: 20px;
  height: 20px; */
  position: absolute;
  top: 47%;
  right: 10%;
  padding: 0.5rem;
  background-color: #fefefe;
  font-size: 18px;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.12);
}

.setas p {
  color: rgb(207, 175, 255);
}

.resultados {
  height: 50vh;
  background-color: #fefefe;
}

.resultado_conversao {
  width: 10rem;
  height: 5rem;
  color: rgb(207, 175, 255);
  border-bottom: 3px solid rgb(207, 175, 255);
  font-size: 58px;
  font-family: inherit;
  font-weight: 100;
}

@media (min-width: 1024px) {
  body {
    background: linear-gradient(
      365deg,
      rgb(232, 200, 255) 4%,
      rgb(231, 209, 255) 52%,
      rgb(224, 203, 255) 99%
    );
  }

  main {
    width: 40vw;
    margin: 0 auto;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  }

  .setas {
    right: 35%;
    font-size: 24px;
  }
}
